.cabecalho {
	font-size: 1rem;
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	color: #fff;
	align-items: center;
	align-content: center;
}

.cabecalho-logo {

	margin-bottom: .3em;

	color: #fff;
	display: inline-block;
	vertical-align: middle;

 	margin-left: 1em;
}
 
.busca {
	background: rgba(0,0,0,0.04);
	border: 1px solid rgba(0,0,0,0);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
	position: relative;
	-webkit-transition: background 100ms ease-in,width 100ms ease-out;
	transition: background 100ms ease-in,width 100ms ease-out;
}

.inputBusca{
	border: none;
	font-size:20px;
	color: #fff;
	-webkit-font-variant-ligatures: none;
	font-variant-ligatures: none;
	outline: none;
	padding: 11px 1px 11px 16px;
	width: 100%;
	background: transparent;
}
